* {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.espacamento-label {
    margin-left: 5px;
}

footer {
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

a {
    color: white;
}